<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1><%= @name %>様、出会い酒へようこそ。</h1>
        <p>出会い酒での参加申請が成功しました。<br></p>
        <p>どうぞお楽しみください。</p>
    </body>
</html>