<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1><%= @host_name %>様の出会い酒イベントで参加者登録がありました！</h1>
        <p>参加者の連絡先は下記のとおりです<br></p>
        <p><%=@participant_name%></p>
        <p><%=@participant_email%></p>
        <p>どうぞお楽しみ下さい</p>
    </body>
</html>